.cuestionario_seguimiento {
    display: flex;
    justify-content: center;
    width: 100%;
}

.seguimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
}

.parte_abajo_seguimiento {
    display: flex;
    flex-direction: column;

    width: 90%;
}

.input_seguimiento {
    padding-left: 10px;
    height: 35px;

    border: 2px #B11830 solid;
    margin-top: 5px;
    margin-bottom: 5px;

    border-radius: 5px;
}

.radio {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.radio_button {
    display: none;
}

.radio_label {
    width: 118px;
    height: 30px;
    
    margin-bottom: 5px;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;

    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease ;
}

.radio_label::before {
    content: '';
    margin-right: 7px;
    width: 15px;
    height: 15px;
    border: #B11830 2px solid;
    border-radius: 50%;
}

.cont_radio_button {
    display: flex;
    align-items: center;
    width: 118px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cont_radio_button:hover {
    background-color: #b1182f3a;
}

.cont-guardar {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_fecha {
    display: flex;
    justify-content: space-between;
}

.titulo {
    width: 50%;
    margin-right: 5px;
}

.fecha {
    width: 50%;
}

.guardar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 40px;
    color: white;
    border: none;
    text-decoration: none;

    border-radius: 5px;
    background-color: #19B450;
}

.guardar:hover {
    background-color: #1dd75e;
}

.radio_button:checked + .radio_label {
    background-color: #B11830;
    color: white;
    border-radius: 2px;
}

.radio_button:checked + .radio_label::before{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}